body {
  background-color: gray;
  color: white;
}
.line > * {
    float:left;
}

.line {
    overflow: visible;
    margin-bottom: 2em;
}

#screen {
	border-spacing: 1px;
    margin: 0 1em;
}
#screen .pixel {
    width: 1em;
    height: 1em;
    background: white;
    padding: 0;
    margin: 0;
}

#screen .on {
    background: black;
}

.bottom {
    clear: both;
}
