body {
  background-color: #444;
  color: #eee;
}

div {
  padding: 1em;
  box-sizing: border-box;
}

section {
  margin: 2em;
  max-width: 70em;
}

@media screen and (min-width: 30em) {
  div {
    display: block;
    height: 10em;
    float:left;
    // height: 50%;
    width: 50%;
  }

  section {
    display: block;
    // height: 10em;
    &:after {
      content: " ";
      clear: both;
      display: table;
    }
  }
}

@media screen and (min-width: 50em) {
  div {
    width: 33.33333333%;
  }
}

@media screen and (min-width: 70em) {
  div {
    width: 25%;
  }
}
